vti_encoding:SR|utf8-nl
vti_syncwith_localhost\\c\:\\documents and settings\\owner\\my documents\\my web sites\\a320_efb_desktop3/c\:/documents and settings/owner/my documents/my web sites/a320_efb_desktop3:TR|08 Jan 2009 04:53:23 -0000
vti_syncwith_localhost\\c\:\\documents and settings\\owner\\my documents\\my web sites\\a320efbd/c\:/documents and settings/owner/my documents/my web sites/a320efbd:TR|18 Jan 2009 18:04:08 -0000
vti_timelastmodified:TR|15 May 2011 12:49:14 -0000
vti_syncwith_localhost\\c\:\\users\\owner\\documents\\my web sites\\efb-desktop/c\:/users/owner/documents/my web sites/efb-desktop:TR|18 Jan 2009 18:04:08 -0000
vti_author:SR|ARTRGJ276M\\Owner
vti_modifiedby:SR|SONY\\Owner
vti_nexttolasttimemodified:TR|18 Jan 2009 18:04:08 -0000
vti_timecreated:TR|31 Jul 2010 15:41:48 -0000
vti_extenderversion:SR|12.0.0.0
vti_syncwith_localhost\\c\:\\users\\owner\\documents\\websites\\efb-desktop/c\:/users/owner/documents/websites/efb-desktop:TR|18 Jan 2009 18:04:08 -0000
vti_backlinkinfo:VX|
vti_cacheddtm:TX|31 Jul 2010 15:41:48 -0000
vti_filesize:IR|10850
vti_cachedlinkinfo:VX|Q|layout.css S|../images/indentbg_blue.gif S|../images/indentbg_blue.gif S|../images/indentbg_blue.gif S|../images/indentbg2_blue.gif S|../images/indentbg2_blue.gif S|../images/indentbg_gray.gif S|../images/indentbg2_gray.gif S|../images/indentbg2_gray.gif
vti_cachedsvcrellinks:VX|FQUS|styles/layout.css FSUS|images/indentbg_blue.gif FSUS|images/indentbg_blue.gif FSUS|images/indentbg_blue.gif FSUS|images/indentbg2_blue.gif FSUS|images/indentbg2_blue.gif FSUS|images/indentbg_gray.gif FSUS|images/indentbg2_gray.gif FSUS|images/indentbg2_gray.gif
vti_syncwith_www.efbdesktop.com\:21:TX|31 Jul 2010 15:41:48 -0000
vti_syncofs_www.efbdesktop.com\:21:TW|07 Nov 2011 22:24:12 -0000
