vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Nov 2011 16:45:27 -0000
vti_syncwith_localhost\\c\:\\users\\owner\\documents\\my web sites\\efb-desktop/c\:/users/owner/documents/my web sites/efb-desktop:TR|05 Jul 2010 20:53:24 -0000
vti_author:SR|ARTRGJ276M\\Owner
vti_modifiedby:SR|SONY\\Owner
vti_nexttolasttimemodified:TW|15 May 2011 12:49:14 -0000
vti_timecreated:TR|31 Jul 2010 15:41:48 -0000
vti_extenderversion:SR|12.0.0.0
vti_syncwith_localhost\\c\:\\users\\owner\\documents\\websites\\efb-desktop/c\:/users/owner/documents/websites/efb-desktop:TR|05 Jul 2010 20:53:24 -0000
vti_backlinkinfo:VX|TOCindex/sys-17.0.0.html
vti_syncwith_www.efbdesktop.com\:21:TX|20 Nov 2011 16:45:27 -0000
vti_syncofs_www.efbdesktop.com\:21:TW|20 Nov 2011 19:50:29 -0000
vti_cacheddtm:TX|20 Nov 2011 16:45:27 -0000
vti_filesize:IR|1653
