vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Nov 2011 17:25:37 -0000
vti_syncwith_localhost\\c\:\\users\\owner\\documents\\my web sites\\efb-desktop/c\:/users/owner/documents/my web sites/efb-desktop:TR|06 Jul 2010 02:00:59 -0000
vti_author:SR|ARTRGJ276M\\Owner
vti_modifiedby:SR|SONY\\Owner
vti_nexttolasttimemodified:TW|20 Nov 2011 17:25:13 -0000
vti_timecreated:TR|31 Jul 2010 15:41:48 -0000
vti_extenderversion:SR|12.0.0.0
vti_syncwith_localhost\\c\:\\users\\owner\\documents\\websites\\efb-desktop/c\:/users/owner/documents/websites/efb-desktop:TR|06 Jul 2010 02:00:59 -0000
vti_backlinkinfo:VX|TOCindex/sys-17.S.0.html TOCindex/sys-17.I.0.html TOCindex/sys-17.T.0.html TOCindex/sys-17.J.0.html TOCindex/sys-17.P.0.html TOCindex/sys-17.G.0.html TOCindex/sys-17.K.0.html TOCindex/sys-17.V.0.html TOCindex/sys-17.F.0.html TOCindex/sys-17.Q.0.html TOCindex/sys-17.A.0.html TOCindex/sys-17.U.0.html TOCindex/sys-17.L.0.html TOCindex/sys-17.B.0.html TOCindex/sys-17.M.0.html TOCindex/sys-17.H.0.html TOCindex/sys-17.W.0.html TOCindex/sys-17.C.0.html TOCindex/sys-17.R.0.html TOCindex/sys-17.X.0.html TOCindex/sys-17.D.0.html TOCindex/sys-17.N.0.html TOCindex/sys-17.Y.0.html TOCindex/sys-17.O.0.html TOCindex/sys-17.Z.0.html TOCindex/sys-17.E.0.html
vti_syncwith_www.efbdesktop.com\:21:TX|20 Nov 2011 17:25:37 -0000
vti_syncofs_www.efbdesktop.com\:21:TW|20 Nov 2011 19:50:29 -0000
vti_cacheddtm:TX|20 Nov 2011 17:25:37 -0000
vti_filesize:IR|2788
