vti_encoding:SR|utf8-nl
vti_author:SR|SONY\\Owner
vti_modifiedby:SR|SONY\\Owner
vti_timelastmodified:TR|26 Oct 2011 18:42:41 -0000
vti_timecreated:TR|26 Oct 2011 18:39:33 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|26 Oct 2011 18:39:33 -0000
vti_cacheddtm:TX|26 Oct 2011 18:39:33 -0000
vti_filesize:IR|10933
vti_cachedlinkinfo:VX|S|../images/nav-bg-silver-2.gif S|../images/nav-bg-silver-2.gif S|../images/nav-bg-silver.gif S|../images/nav-bg-silver.gif
vti_cachedsvcrellinks:VX|FSUS|images/nav-bg-silver-2.gif FSUS|images/nav-bg-silver-2.gif FSUS|images/nav-bg-silver.gif FSUS|images/nav-bg-silver.gif
vti_syncwith_www.efbdesktop.com\:21:TX|26 Oct 2011 18:39:33 -0000
vti_syncofs_www.efbdesktop.com\:21:TW|07 Nov 2011 22:24:18 -0000
