vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|15 May 2011 12:49:13 -0000
vti_syncwith_localhost\\c\:\\users\\owner\\documents\\my web sites\\efb-desktop/c\:/users/owner/documents/my web sites/efb-desktop:TR|19 Jun 2010 15:35:16 -0000
vti_author:SR|ARTRGJ276M\\Owner
vti_modifiedby:SR|SONY\\Owner
vti_nexttolasttimemodified:TR|19 Jun 2010 15:35:16 -0000
vti_timecreated:TR|31 Jul 2010 15:41:48 -0000
vti_extenderversion:SR|12.0.0.0
vti_syncwith_localhost\\c\:\\users\\owner\\documents\\websites\\efb-desktop/c\:/users/owner/documents/websites/efb-desktop:TR|19 Jun 2010 15:35:16 -0000
vti_backlinkinfo:VX|
vti_cacheddtm:TX|31 Jul 2010 15:41:48 -0000
vti_filesize:IR|9935
vti_cachedlinkinfo:VX|S|../images/nav-bg-silver-2.gif S|../images/nav-bg-silver-2.gif S|../images/nav-bg-silver.gif S|../images/nav-bg-silver.gif S|../images/nav-bg-silver-2.gif
vti_cachedsvcrellinks:VX|FSUS|images/nav-bg-silver-2.gif FSUS|images/nav-bg-silver-2.gif FSUS|images/nav-bg-silver.gif FSUS|images/nav-bg-silver.gif FSUS|images/nav-bg-silver-2.gif
vti_syncwith_www.efbdesktop.com\:21:TX|31 Jul 2010 15:41:48 -0000
vti_syncofs_www.efbdesktop.com\:21:TW|07 Nov 2011 22:24:20 -0000
