vti_encoding:SR|utf8-nl
vti_author:SR|SONY\\Owner
vti_modifiedby:SR|SONY\\Owner
vti_timelastmodified:TR|26 Nov 2011 10:58:06 -0000
vti_timecreated:TR|26 Oct 2011 12:05:59 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_syncwith_www.efbdesktop.com\:21:TX|26 Nov 2011 10:58:06 -0000
vti_syncofs_www.efbdesktop.com\:21:TW|26 Nov 2011 11:01:27 -0000
vti_nexttolasttimemodified:TR|08 Nov 2011 02:23:25 -0000
vti_cacheddtm:TX|26 Nov 2011 10:58:06 -0000
vti_filesize:IR|14037
vti_cachedlinkinfo:VX|Q|layout.css S|../images/nav-bg-silver-2.gif S|../images/nav-bg-silver-2.gif S|../images/nav-bg-silver.gif S|../images/nav-bg-silver.gif S|../images/nav-bg-silver-2.gif
vti_cachedsvcrellinks:VX|FQUS|styles/layout.css FSUS|images/nav-bg-silver-2.gif FSUS|images/nav-bg-silver-2.gif FSUS|images/nav-bg-silver.gif FSUS|images/nav-bg-silver.gif FSUS|images/nav-bg-silver-2.gif
